<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link href="css/bootswatch.css" rel="stylesheet" />
        <title>{{pagetitle}}</title>
    </head>

    <body>
        <h1 class="text-center">{{message}}</h1>
    </body>
</html>